.input {
    padding: 6px;
    border: 1px solid #DDD;
    margin-left: 10px;
    border-bottom: 2px solid #DDD;
    border-radius: 1px;
    margin-right: -5px;
    transition: all 0.3s
}

.input:focus {
    border-color: #95a5a6;
    outline: none
}

button {
    border: none;
    border-radius: 6px;
}

.content {
    margin-left: 16px;
}

#error {
    background: rgba(255, 0, 0, 0.4);
    display: none;
}

#err {
    font-weight: bold;
    color: darkred;
    padding: 10px;
}
